@page "/change-password"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@attribute [Authorize]

<PageTitle>Change</PageTitle>

<h1>Change Password</h1>

<EditForm Model="changeForm" OnValidSubmit="HandleChange">

    <p>Username:</p>
    <InputText @bind-Value="changeForm.Username" id="username"></InputText>
    <p>Old Password:</p>
    <InputText @bind-Value="changeForm.OldPassword" id="old_password"></InputText>
    <p>New Password:</p>
    <InputText @bind-Value="changeForm.NewPassword" id="new_password"></InputText>
    <button type="submit">Change</button>

</EditForm>

@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}

@code {

    private ChangePasswordForm changeForm = new ChangePasswordForm();
    private string message = string.Empty;

    private async Task HandleChange()
    {
        var result = await HttpClient.PostAsJsonAsync(Constants.ChangePasswordrUrl, changeForm);

        if (!result.IsSuccessStatusCode)
        {
            message = "Change password failed";
            return;
        }

        NavigationManager.NavigateTo("Login");
    }

}